<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="AutofacSerilogIntegration" version="2.0.0" targetFramework="net471" />
  <package id="Costura.Fody" version="2.0.1" targetFramework="net471" developmentDependency="true" />
  <package id="EasyHook" version="2.7.6684" targetFramework="net471" />
  <package id="FluffySpoon.Http" version="1.0.21" targetFramework="net471" />
  <package id="Fody" version="3.0.3" targetFramework="net471" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.8.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Octokit" version="0.29.0" targetFramework="net471" />
  <package id="RtfPipe" version="0.7.0.6" targetFramework="net471" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net471" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
</packages>