<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.0" targetFramework="net471" />
  <package id="AutofacSerilogIntegration" version="2.0.0" targetFramework="net471" />
  <package id="Costura.Fody" version="2.0.0" targetFramework="net471" developmentDependency="true" />
  <package id="EasyHook" version="2.7.6684" targetFramework="net471" />
  <package id="FluffySpoon.Http" version="1.0.16" targetFramework="net471" />
  <package id="Fody" version="3.0.3" targetFramework="net471" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.8.1" targetFramework="net471" />
  <package id="Microsoft.Build" version="15.6.85" targetFramework="net471" />
  <package id="Microsoft.Build.Framework" version="15.6.85" targetFramework="net471" />
  <package id="Microsoft.Build.Utilities.Core" version="15.6.85" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Octokit" version="0.29.0" targetFramework="net471" />
  <package id="RtfPipe" version="0.7.0.6" targetFramework="net471" />
  <package id="Serilog" version="2.6.0" targetFramework="net471" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net471" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net471" />
  <package id="System.Collections" version="4.0.11" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.Process" version="4.1.0" targetFramework="net471" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net471" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq" version="4.1.0" targetFramework="net471" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net471" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading" version="4.0.11" targetFramework="net471" />
  <package id="System.Threading.Tasks.Parallel" version="4.0.1" targetFramework="net471" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net471" />
</packages>