<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="Brutal.Dev.StrongNameSigner" version="1.8.0" targetFramework="net461" />
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net461" developmentDependency="true" />
  <package id="CryptStr.Fody" version="0.4" targetFramework="net461" />
  <package id="EasyHook" version="2.7.6035" targetFramework="net461" />
  <package id="Fody" version="1.29.4" targetFramework="net461" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="10.1.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Octokit" version="0.20.0" targetFramework="net461" />
  <package id="Seal.Fody" version="1.0.3" targetFramework="net461" />
</packages>