* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    min-height: calc(100vh - 20vh);

    padding: 10vh 10vw;

    overflow-x: hidden;
}

section {
    padding: 10vh;
}

.download .specs {
    font-size: 12px;
    color: #AAA;
    padding-left: 5px;
    position: relative;
    top: 9px;
    display: inline-block;
}