* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden !important;

    background: radial-gradient(#FFF, #EFEFEF);
}

.app {
    padding: 10vh 10vw !important;
}

.download .selling-points {
    max-width: 400px;
    margin-left: -40px;
    padding-top: 10px;
}

.download .selling-points li {
    padding-bottom: 20px;
}

.download .selling-points li:last-child {
    padding-bottom: 0;
}

.download .selling-points li span {
    display: block;
    font-size: 14px;
}

.screenshot {
    background-size: cover;
    background-repeat: no-repeat;

    min-width: 400px;
    min-height: 300px;

    margin-top: 7vh;
}

header h1 {
    font-weight: 100 !important;
}

header span {
    color: #333;
}

section {
    padding: 10vh;
}

.download .specs {
    font-size: 12px;
    color: #AAA;
    padding-left: 5px;
    position: relative;
    top: 9px;
    display: inline-block;
}

.card {
    width: 18rem;
}

.card-img-top {
    height: 138px;
    object-fit: contain;
}